---
interface Props {
  id: number;
  question: string;
  answer: string;
}

const { id, question, answer } = Astro.props;
---

<div class="shadow-md cursor-pointer">
  <details class="p-5 bg-white rounded">
    <summary class="bg-white text-lg font-semibold marker:text-primary-color">
      {question}
    </summary>
    <p>{answer}</p>
  </details>
</div>
