---
import Button from "./Button.astro";
---

<footer class="bg-heading-color py-12 px-0">
  <div class="container grid items-center grid-cols-1 md:grid-cols-2">
    <h2 class="text-white">
      Join our community by using our services and grow your business.
    </h2>
    <Button
      customStyles="justify-self-center"
      content="Try it for free"
      href="/try"
    />
  </div>
</footer>
