---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import heroImage from "../images/hero.svg";
---

<section class="py-14 px-0">
  <div class="container flex flex-wrap items-center gap-[30px] md:flex-nowrap">
    <div class="left">
      <h1 class="mb-5 max-w-[405px] md:text-[40px]">
        A digital agency specializing on <span>mobile design</span>
      </h1>
      <p class="text-[22px] leading-[34px] mb[30px] md:text-[18px]">
        We are an award winning design agency that strongly believes in the
        power of creative ideas.
      </p>
      <Button content="Get started" href="/get-started" />
    </div>
    <div class="right">
      <Image src={heroImage} alt="Hero" loading="eager" />
    </div>
  </div>
</section>
