---
interface Props {
  id?: number;
  image: string;
  title: string;
  description: string;
}

import { Image } from "astro:assets";
const { image, title, description } = Astro.props;
---

<div class="text-center">
  <Image
    src={image}
    alt={title}
    width="256"
    height="256"
    class="mx-auto mb-3"
  />
  <h3 class="mb-4">{title}</h3>
  <p class="mt-0 mx-auto mb-5 max-w-[316px]">{description}</p>
  <a class="text-primary-color no-underline" href="/"> Learn More </a>
</div>
