---
interface Props {
  id: number;
  title: string;
  description: string;
}

const { id, title, description } = Astro.props;
---

<div
  class="items-center bg-white shadow-md flex gap-5 max-2-[520px] p-5 relative [&:nth-child(2)]:left-[10px] [&:nth-child(3)]:left-[5px]"
>
  <div
    class="bg-skyblue rounded-full text-primary-color text-[22px] font-semibold py-3 px-3 w-fit"
  >
    {`0${id}`}
</div>
  <div class="info">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>
