---
interface Props {
  id: number;
  author: string;
  image: string;
  area: string;
  testimonial: string;
}

const { author, image, area, testimonial } = Astro.props;
---

<div class="bg-white p-5">
  <p class="text-[18px]">{testimonial}</p>
  <div class="flex justify-start gap-7 mb-7">
    <div class="image">
      <img class="max-w-[70px]" src={image} />
    </div>
    <div class="bio">
      <h3>{author}</h3>
      <p>{area}</p>
    </div>
  </div>
</div>
