---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Proyecto web desde cero - Astro" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  body {
    font-family: "Urbanist", sans-serif;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1 {
    @apply text-heading-color;
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;

    & span {
      @apply text-primary-color;
    }
  }

  h2 {
    @apply text-heading-color;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
  }

  h3 {
    @apply text-heading-color;
    font-size: 23px;
    font-weight: 600;
    line-height: 32px;
  }

  img {
    max-width: 100%;
  }

  p {
    @apply text-paragraph-color;
    font-size: 17px;
    line-height: 29px;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
</style>
